<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <property resource="app.properties"/>
    <property name="LOG_DIR" value="/log" />

    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %t %-5p: %c{0}.%M\(\) - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/bulkmail.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/bulkmail_%d{yyyyMMdd}.log.gz</fileNamePattern>
            <!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>30MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>-->
            <maxHistory>30</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %t %-5p: %c{0}.%M\(\) - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zizou.bulkmail" level="info">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.springframework" level="warn">
        <appender-ref ref="console"/>
    </logger>

    <!--<if condition='property("mode").equals("service")'>
        <then>
            <appender-ref ref="file"/>
        </then>
        <else>
            <appender-ref ref="console"/>
        </else>
    </if>-->
</configuration>